:root {
  --white: rgb(255, 255, 255);
  --white-4: rgba(255, 255, 255, 0.4);
  --white-5: rgba(255, 255, 255, 0.5);
  --white-6: rgba(255, 255, 255, 0.6);
  --tealLight: rgba(0, 128, 128, 0.1);
  --tealMedium: rgba(0, 128, 128, 0.7);
  --tealDark: rgb(0, 77, 77);
  --gray: rgb(128, 128, 128);

  --hover-shades-1: hsla(240, 30.1%, 28%, 0.25);
  --hover-shades-2: hsla(0, 0%, 0%, 0.3);
  --hover-shades-3: hsla(0, 0%, 0%, 0.03);

  --backdrop: rgba(0, 0, 0, 0.8);

  --skeleton-50: hsl(200, 20%, 50%);
  --skeleton-80: hsl(200, 20%, 80%);
  --skeleton-85: hsl(200, 20%, 85%);
  --skeleton-95: hsl(200, 20%, 95%);
}

* {
  box-sizing: border-box;
}